* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit';
  line-height: 1.7;
  font-size: 15px;
}

.container {
  max-width: 1440px;
  background-color: #fff;
  margin: 70px auto;
  padding: 18px;
  width: 300px;
  height: 470px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.qr-code img{
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.component h3 {
  font-size: 130%;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 20px;
}

.component p {
  font-weight: 300;
  width: 90%;
  text-align: center;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.2;
  opacity: 0.6;
}
  